<% if flash[:notice] %>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

<h2>Books</h2>
  <table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Body
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  </table>
<% @books.each do |book| %>
  <table>
  <tr>
    <th>
      <span><%= book.title %></span>
    </th>
    <th>
      <span><%= book.body %></span>
    </th>
    <th>
      <span><%= link_to "show",book_path(book.id), class: "color" %></span>
    </th>
    <th>
      <span><%= link_to "edit",edit_book_path(book.id), class: "color" %></span>
    </th>
    <th>
      <span><%= link_to 'destroy', destroy_book_path(book), method: :delete, "data-confirm" => "Are you sure?" %></span>
    </th>
  </tr>
</table>  
<% end %>

<h3>New book</h3>
<%= form_for(@book) do |f| %>

    <% if @book.errors.any? %>
        <ul>
            <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
<% end %>
    
<%= form_with model:@book, local:true do |f| %>

  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
  
  </br>
  
  <%= f.submit 'Create Book' %>

<% end %>